@import '../../styles/variables';

.profile {
  &__hero {
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
  }
  &__content {
    padding: 1rem 1.5rem;
    &Header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__photo {
    border: 0.4rem solid $primary-light;
    margin-top: -9rem;
  }
  &__info {
    font-size: 1.4rem;
    padding: 1rem;
  }
  &__username,
  &__joined,
  &__statisticContainer {
    color: rgba($primary-dark, 0.7);
  }
  &__username {
    margin-top: 0.3rem;
  }
  &__joined {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;

    & > * + * {
      padding-left: 0.25rem;
    }

    svg {
      fill: currentColor;
      max-width: 2rem;
    }
  }
  &__statisticContainer {
    margin-top: 1rem;
    display: flex;
    & > * + * {
      margin-left: 1.75rem;
    }
  }
  &__statistic {
    display: flex;
    & > * + * {
      margin-left: 0.4rem;
    }
    & > :first-child {
      font-weight: bold;
      color: $primary-dark;
    }
  }
  &__navigation {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
  }
  &__link {
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    color: rgba($primary-dark, 0.7);
    display: flex;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: rgba($primary-dark, 0.1);
    }

    span {
      padding: 2rem 0;
      position: relative;
    }

    &_active {
      font-weight: bold;
      color: inherit;

      span {
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0.4rem;
          background-color: $secondary;
          border-radius: 10rem;
        }
      }
    }
  }
}
